<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.courses_back.mapper.admin_mapper">
    <select id="stu_find_all" resultType="com.example.courses_back.entity.student">
        select * from stu_person_data
    </select>

    <select id="stu_find_page" resultType="com.example.courses_back.entity.student">
        select * from stu_person_data where name like concat('%',#{name},'%') Limit #{pagetop},#{pagesize}
    </select>

    <select id="tea_find_page" resultType="com.example.courses_back.entity.Teacher">
        select * from tea_person_data where name like concat('%',#{name},'%') Limit #{pagetop},#{pagesize}
    </select>

    <select id="cou_find_page" resultType="com.example.courses_back.entity.Course">
        call select_courses_page(#{name},#{pagetop},#{pagesize})
    </select>

    <select id="classes" resultType="com.example.courses_back.entity.tea_class">
        select c.teaid,c.term,c.couid,count(c.stuid) as num ,cd.`name` as couname ,t.name as teaname,oc.class_time as classtime from choose_courses_data c
            left join courses_data cd on c.couid=cd.couid
            left JOIN tea_person_data t on c.teaid =t.tno left join open_courses_data oc on oc.term=c.term and oc.cou_id=c.couid and oc.tea_id=c.teaid gROUP BY c.teaid,c.term,c.couid  limit #{pagetop},#{pagesize}
    </select>

    <select id="classes_num" resultType="com.example.courses_back.entity.tea_class">
        select c.teaid,c.term,c.couid,count(c.stuid) as num ,cd.`name` as couname ,t.name as teaname,oc.class_time as classtime from choose_courses_data c
                                                                                                              left join courses_data cd on c.couid=cd.couid
                                                                                                              left JOIN tea_person_data t on c.teaid =t.tno
                                                                                                              left join open_courses_data oc on oc.term=c.term and oc.cou_id=c.couid and oc.tea_id=c.teaid
        gROUP BY c.teaid,c.term,c.couid
    </select>

    <select id="stugrade" resultType="com.example.courses_back.entity.stu_grade">
        select c.stuid ,s.`name` as stuname,cd.name as couname,c.term,c.couid,c.teaid,c.usuper,c.tesper,c.finper,c.jidian from choose_courses_data c
            left JOIN stu_person_data s on c.stuid=s.sno
            left JOIN courses_data cd on cd.couid=c.couid where c.term like concat('%',#{term},'%')
    </select>
    <select id="stugradepage" resultType="com.example.courses_back.entity.stu_grade">
        select c.stuid ,s.`name` as stuname,cd.name as couname,c.term,c.couid,c.teaid,c.usuper,c.tesper,c.finper,c.jidian from choose_courses_data c
                                                                                                                                   left JOIN stu_person_data s on c.stuid=s.sno
                                                                                                                                   left JOIN courses_data cd on cd.couid=c.couid where c.term like concat('%',#{term},'%') limit #{pagetop},#{pagesize}
    </select>

    <update id="updatestugrade">
        update choose_courses_data set usuper=#{usuper},finper=#{finper},tesper=#{tesper},jidian=#{jidian} where stuid=#{stuid} and term=#{term} and teaid=#{teaid} and couid=#{couid}
    </update>

    <select id="avgjidians" resultType="com.example.courses_back.entity.avgjidian">
        SELECT SUM(ccd.jidian*(cd.xf/sm.sumxf)) as avggrade, sm.sumxf,stu.name,stu.sno FROM choose_courses_data ccd
                                                                                                right join stu_person_data stu on ccd.stuid=stu.sno LEFT JOIN
                                                                                            courses_data cd on cd.couid=ccd.couid left JOIN stusumxf sm on sm.stuid=stu.sno
        WHERE ccd.jidian!="null" GROUP BY stu.sno limit #{pagetop},#{pagesize};
    </select>
    <select id="avgjidiantotal" resultType="com.example.courses_back.entity.avgjidian">
        SELECT SUM(ccd.jidian*(cd.xf/sm.sumxf)) as avggrade, sm.sumxf,stu.name,stu.sno FROM choose_courses_data ccd
                                                                                                right join stu_person_data stu on ccd.stuid=stu.sno LEFT JOIN
                                                                                            courses_data cd on cd.couid=ccd.couid left JOIN stusumxf sm on sm.stuid=stu.sno
        WHERE  ccd.jidian!="null" GROUP BY stu.sno ;
    </select>



</mapper>